*,
::before
::after
{box-sizing: border-box;}

h1,h2,h3,h4,h5,h6 {margin: 0%;}
p{margin: 0% 0% 0% 0%;}

body{margin: 0;}

a, a:hover, a:visited {text-decoration: none; cursor: pointer; color: black;}

.title{text-align: center; margin-top: 150px;
    &:first-child{margin-top: 25px;}
}

/*! Container
/*!_________________________________________________________________*/

.container{width: 100%; max-width: 1140px; margin: 0 auto;}

/*! Section
/*!_________________________________________________________________*/

.section{margin: 100px 0 50px 0;}

/*! Section 1
/*!_________________________________________________________________*/

.section1{
    .section1__block-wrapper{display: flex; align-items: center; justify-content: center;
        &__block{border: 1px solid black; width: 150px; height: 150px; position: relative; background-color: black;
            &:not(:last-child){margin-right: 150px;}
            &__ring{color: black; position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); font-size: 170px;}
                &/*::after,*/::before{content: ""; padding: 0.7em 0.4em; position: absolute; left: 50%; width: 115%; top: 50%; display: block;
                    border: 5px solid #50c9c3; border-radius: 50%; transition: transform 1s; transform: translateX(-50%) translateY(-50%) rotate(60deg);}
                // &::after{border-color: rgba(235, 235, 235) rgba(235, 235, 235) rgb(0, 0, 0) rgb(0, 0, 0);}
                &::before{border-color: rgb(0, 0, 0, 0) rgb(0, 0, 0, 0) rgba(235, 235, 235) rgba(235, 235, 235); z-index: -1;}
                &:hover{
                    &/*::after,*/::before{transform: translateX(-50%) translateY(-50%) rotate(310deg);}
                }
        }
    }
}

/*! Section 2
/*!_________________________________________________________________*/

.section2{
    .section2__block-wrapper{display: flex; align-items: center; justify-content: center; position: relative; height: 300px;
        &__block{border: 1px solid black; border-radius: 10%; background-color: black; width: 150px; height: 150px; position: relative; position: absolute;
            &:nth-child(1){border: 1px solid aqua; background-color: aqua; transform: translate3d(100px, 0px, 0) scale(0.7);
                animation:s2_block1 5s ease-in-out 0s infinite;
            }
            &:nth-child(2){z-index: 1; transform: scale(1);
                animation:s2_block2 5s ease-in-out 0s infinite;
            }
            &:nth-child(3){border: 1px solid blue; background-color: blue; transform: translate3d(-100px, 0px, 0) scale(0.7);
                animation:s2_block3 5s ease-in-out 0s infinite;
            }
        }
    }
}
@keyframes s2_block1{
	0%{transform: translate3d(100px, 0px, 0) scale(0.7); z-index: 0;}
	25%{transform: translate3d(-100px, 0px, 0) scale(0.7); z-index: 0;}
	50%{transform: translate3d(0px, 0px, 0) scale(1); z-index: 1;}
	100%{transform: translate3d(100px, 0px, 0) scale(0.7); z-index: 0;}
}
@keyframes s2_block2{
	0%{transform: translate3d(0px, 0px, 0) scale(1); z-index: 1;}
	25%{transform: translate3d(100px, 0px, 0) scale(0.7); z-index: 0;}
	50%{transform: translate3d(-100px, 0px, 0) scale(0.7); z-index: 0;}
	100%{transform: translate3d(0px, 0px, 0) scale(1); z-index: 1;}
}
@keyframes s2_block3{
	0%{transform: translate3d(-100px, 0px, 0) scale(0.7); z-index: 0;}
	25%{transform: translate3d(0px, 0px, 0) scale(1); z-index: 1;}
	50%{transform: translate3d(100px, 0px, 0) scale(0.7); z-index: 0;}
	100%{transform: translate3d(-100px, 0px, 0) scale(0.7); z-index: 0;}
}

/*! Section 3
/*!_________________________________________________________________*/

.section3{
    .section3__circle-wrapper{border: 3px solid aqua; border-radius: 50%; background-color: aqua; width: 350px; height: 350px; margin: 50px auto;
        display: flex; justify-content: center; align-items: center;
        &__all{width: 21%; display: flex; justify-content: start; align-items: center; flex-wrap: wrap; position: relative;
            &__circle{border: 3px solid #fff; border-radius: 50%; background-color: #fff; width: 30px; height: 30px; position: relative;
                &:nth-child(1){animation: s3_circle1 8.5s 2s infinite cubic-bezier(.5,1.5,.55,1);}
                &:nth-child(2){animation: s3_circle2 8.5s 3s infinite cubic-bezier(.5,1.5,.55,1);}
                &:nth-child(3){animation: s3_circle3 8.5s 1s infinite cubic-bezier(.5,1.5,.55,1);}
                &:nth-child(4){animation: s3_circle4 8.5s 4s infinite cubic-bezier(.5,1.5,.55,1);}
                &:nth-child(5){animation: s3_circle5 8.5s 0s infinite cubic-bezier(.5,1.5,.55,1);}
            }
        }
    }
}
@keyframes s3_circle1{/*стороны верх-низ*/
	0%{transform: translate3d(0px, 0px, 0);}
	15%{transform: translate3d(0px, 36px, 0);}
	30%{transform: translate3d(0px, 72px, 0);}
	45%{transform: translate3d(36px, 72px, 0);}
	60%{transform: translate3d(36px, 36px, 0);}
	75%{transform: translate3d(36px, 0px, 0);}
	90%{transform: translate3d(0px, 0px, 0);}
}
@keyframes s3_circle2{
	0%{transform: translate3d(0px, 0px, 0);}
	15%{transform: translate3d(-36px, 0px, 0);}
	30%{transform: translate3d(-36px, 36px, 0);}
	45%{transform: translate3d(-36px, 72px, 0);}
	60%{transform: translate3d(0px, 72px, 0);}
	75%{transform: translate3d(0px, 36px, 0);}
	90%{transform: translate3d(0px, 0px, 0);}
}
@keyframes s3_circle3{
    0%{transform: translate3d(0px, 0px, 0);}
	15%{transform: translate3d(0px, 36px, 0);}
	30%{transform: translate3d(36px, 36px, 0);}
	45%{transform: translate3d(36px, 0px, 0);}
	60%{transform: translate3d(36px, -36px, 0);}
	75%{transform: translate3d(0px, -36px, 0);}
	90%{transform: translate3d(0px, 0px, 0);}
}
@keyframes s3_circle4{
	0%{transform: translate3d(0px, 0px, 0);}
	15%{transform: translate3d(0px, -36px, 0);}
	30%{transform: translate3d(-36px, -36px, 0);}
	45%{transform: translate3d(-36px, 0px, 0);}
    60%{transform: translate3d(-36px, 36px, 0);}
    75%{transform: translate3d(0px, 36px, 0);}
	90%{transform: translate3d(0px, 0px, 0);}

}
@keyframes s3_circle5{
	0%{transform: translate3d(0px, 0px, 0);}
	15%{transform: translate3d(36px, 0px, 0); animation-delay: 5s;}
	45%{transform: translate3d(36px, -72px, 0); animation-delay: 5s;}
	60%{transform: translate3d(0px, -72px, 0); animation-delay: 5s;}
	75%{transform: translate3d(0px, -36px, 0); animation-delay: 5s;}
	90%{transform: translate3d(0px, 0px, 0); animation-delay: 5s;}
}

/*! Section 4
/*!_________________________________________________________________*/

.section4{
    &__word-wrapper{display: flex; justify-content: center; align-items: center;
        &__letter{display: flex; justify-content: center; align-items: center; width: 100px; height: 100px; font-size: 50px; font-weight: 900; color: #fff;
            background-color: black; opacity: .5; transform: translate(0%, 150%);
            &:nth-child(1){animation: up 1s 0s linear; animation-fill-mode: forwards;}
            &:nth-child(2){animation: up 1s 1s linear; animation-fill-mode: forwards;}
            &:nth-child(3){animation: up 1s 1.2s linear; animation-fill-mode: forwards;}
            &:nth-child(4){animation: up 1s .5s linear; animation-fill-mode: forwards;}
            &:nth-child(5){animation: up 1s .7s linear; animation-fill-mode: forwards;}
        }
    }
}

@keyframes up{
    from{transform: translate(0%, 300%);}
    to{transform: translate(0%, 0%);}
}