*,
::before ::after{box-sizing: border-box;}
h1, h2, h3, h4, h5, h6 {margin: 0%;}

p {margin: 0% 0% 0% 0%;}

body {margin: 0;}

a, a:hover, a:visited {text-decoration: none; cursor: pointer; color: black;}

.container{max-width: 1170px; margin: 0 auto;}

/* Кнопки
________________________________________*/

.btn{margin: 50px 50px 50px 0; border: 1px solid black; padding: 10px; display: block; width: 100%;}

.dropdown_list{display: none;}

.active_list{display: block;} /*Класс через js*/

/* Горизонтально
_________________________________________*/

.dropdown_horizontally{display: flex; justify-content: center; align-items: center;}

.btn_horizontally{width: auto; margin: 50px 25px 50px 25px; display: flex; justify-content: center; align-items: center;}

.active_btn{background: aqua;} /*Активная кнопка через js*/

.dropdown_horizontally__wrapper{position: relative;}
/* Персонал
_________________________________________*/

.staff{}
.staff__item-wrapper{display: flex; justify-content: center; align-items: center; margin-bottom: 25px;}
.staff__item{width: 50%;display: flex; flex-direction: column; justify-content: center; align-items: center;}
.staff__item img{height: 200px; width: 200px; border: 1px solid black; border-radius: 50%;}
.item__fio{}
.item__job{}
.item__email{}