@import "variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:wght@400;500;700&display=swap');

*,
::before
::after
{box-sizing: border-box;}

h1,h2,h3,h4,h5,h6 {margin: 0%;}
p{margin: 0% 0% 0% 0%;}

body{margin: 0; @include roboto}

a, a:hover, a:visited {text-decoration: none; cursor: pointer;}

.btn{display: flex; text-align: center; @include flexCenter;}

/*! Container
/*!_________________________________________________________________*/

.container{width: 100%; max-width: 1300px; margin: 0% auto;}

/*! layout 1
/*!_________________________________________________________________*/

.background{background-color: rgb(174, 237, 255)}
.l1-wrapper{margin: 0 0 50px 0;
    .l1-wrapper__title{padding: 100px 0px 30px 0px; @include blockCenter; @include lato; font-size: 85px; font-weight: 700; line-height: 95px;}
    .l1-wrapper__text{font-size: 18px; font-weight: 400; line-height: 25px; margin-bottom: 30px; color: #94A2B3;}
    .l1-wrapper__button{display: flex; padding-bottom: 35px;
        .button__btn-store{background-color: #7854F7; width: 275px; height: 72px; border: 1px solid #7854F7; border-radius: 50px;
            span{color: #FFFFFF; font-size: 18px; font-weight: 500;}
        }//button__btn-store
        .button__text{font-size: 22px; font-weight: 700; margin-left: 12px; display: flex; align-items: center;
            .gray{color: #94A2B3}
            .light-blue{color: #299EF3; margin-left: 5px;}
        }//button__text
    }//l1-wrapper__button
}//l1-wrapper

/*! layout 2
/*!_________________________________________________________________*/

.l2-wrapper{margin: 160px 0 50px 0;
    .l2-wrapper__subtitle{color: #7352FF; font-size: 20px; font-weight: 700; text-align: center; line-height: 28px;}
    .l2-wrapper__title{font-size: 64px; font-weight: 700; text-align: center; margin: 17px 0 25px 0; line-height: 68px;}
    .l2-wrapper__line-item{display: flex;
        .line-item__item{text-align: center; border: 1px solid lightgray; box-shadow: 0px 5px 10px lightgray;
        border-radius: 5%; padding: 25px 38px 19px 38px; width: 290px; 
            &:not(:first-child){margin-left: 20px;}
            .item__img{width: 40px; height: 40px;}
            .item__title{margin: 15px 0 10px 0; font-size: 24px; font-weight: 400;}
            .item__subtitle{font-size: 16px; font-weight: 400;}
        }//line-item__item
    }//l2-wrapper__line-item
}//l2-wrapper

/*! layout 3
/*!_________________________________________________________________*/

.l3-wrapper{margin: 150px 0 50px 0;
    .l3-wrapper__title{text-align: center; font-size: 28px; font-weight: 400; color: #757575; line-height: 36px;}
    .l3-wrapper__slider-line{display: flex;justify-content: center;margin: 50px 135px 150px 135px; 
        .slider-line__item{position: relative;
            &:not(:first-child){margin-left: 36px;}
            .slider-line__img{width: 365px;}
            .slider-line__text{font-size: 14px; font-weight: 400; line-height: 21px; padding: 13px 23px 7px 13px; line-height: 21px;
            color: #757575; background: #FFFFFF; position: absolute; bottom: -12%; left: 4%; border-radius: solid 1px #FFFFFF; border-radius: 30px;}
        }//slider-line__item
    }//l3-wrapper__slider-line
}//l3-wrapper