/* Center
___________________________________________*/
/* Fonts
___________________________________________*/
/* Animation
___________________________________________*/
/* Center
___________________________________________*/
/* Fonts
___________________________________________*/
/* Animation
___________________________________________*/
*,
::before ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0%;
}

p {
  margin: 0% 0% 0% 0%;
}

body {
  margin: 0;
}

a, a:hover, a:visited {
  text-decoration: none;
  cursor: pointer;
  color: #282828;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

input {
  border: none;
  outline: none;
  background-color: #282828;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  background-color: #282828;
  color: #FFFFFF;
}

/*! Btn */
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-yelow {
  background: #99862A;
}
.btn-yelow span {
  text-transform: uppercase;
}

/*! Text Color */
.text-white {
  color: #FFFFFF;
}

.text-black {
  color: #282828;
}

/*! Container
/*!_________________________________________________________________*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0% auto;
}

/*! Nav fixed
/*!_________________________________________________________________*/
.nav-fixed {
  position: fixed;
  z-index: 1000;
  background-color: #99862A;
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}
.nav-fixed__link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav-fixed__link-wrapper__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
  height: 50px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}
.nav-fixed__link-wrapper__link:hover {
  background-color: #8d7c36;
  color: #FFFFFF;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.nav-fixed.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*! Burger
/*!_________________________________________________________________*/
.nav-fixed .burger-wrapper {
  width: 100%;
  height: 100%;
  height: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

/*! Up Down Buttons
/*!_________________________________________________________________*/
.up-down-wrapper {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #99862A;
  position: fixed;
  right: 1%;
  bottom: 50%;
  cursor: pointer;
}
.up-down-wrapper__svg-wrapper {
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.up-down-wrapper__svg-wrapper:hover {
  background-color: #8d7c36;
}
.up-down-wrapper__svg-wrapper:hover .up-down-wrapper__down_svg {
  fill: #282828;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}
.up-down-wrapper__svg-wrapper:hover .up-down-wrapper__up_svg {
  fill: #282828;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}
.up-down-wrapper__up_svg, .up-down-wrapper__down_svg {
  width: 100%;
  height: 30px;
  fill: #FFFFFF;
}
.up-down-wrapper__up_svg:hover, .up-down-wrapper__down_svg:hover {
  fill: #282828;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}
.up-down-wrapper__up_svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/*! Header background
/*!_________________________________________________________________*/
.header__bg {
  background: #282828 url("../img/header/bg.png") center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 900px;
  background-attachment: fixed;
  z-index: 1;
  padding-top: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section {
  width: 100vw;
}

/** Nav
/**_________________________________________________________________*/
header {
  position: absolute;
  z-index: 1000;
  width: 100%;
}

.nav {
  display: block;
  margin: 0% auto;
}
.nav-top {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 20px;
}
.nav-bottom {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
.nav-bottom__link {
  width: 25%;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav-bottom__link:not(:last-child) {
  border-right: 1px solid #FFFFFF;
}
.nav-bottom__link:hover {
  background: #FFFFFF;
  color: #282828;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}
.nav-bottom__link:visited {
  color: #FFFFFF;
}
.nav-bottom__link:hover:visited {
  color: #282828;
}

/** Btn
/**_________________________________________________________________*/
.header__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  -webkit-transform: translate(0, 419%);
          transform: translate(0, 419%);
}
.header__btn-wrapper .btn-wrapper__btn-yelow {
  width: 200px;
  height: 50px;
}
.header__btn-wrapper .btn-wrapper__btn-yelow:not(:last-child) {
  margin-right: 30px;
}
.header__btn-wrapper .btn-wrapper__btn-yelow:visited {
  color: #FFFFFF;
}
.header__btn-wrapper .btn-wrapper__btn-yelow span {
  padding: 15px 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.header__btn-wrapper .btn-wrapper__btn-yelow span:hover {
  color: #282828;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

/** Section 1
/**_________________________________________________________________*/
.section1 {
  background: #282828;
  height: 856px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section1 .section1__inner {
  border: 3px solid #FFFFFF;
  padding: 5% 10%;
}
.section1 .section1__inner .section1__text-wrapper .section1__title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  padding-bottom: 40px;
}
.section1 .section1__inner .section1__text-wrapper .section1__title::after {
  content: "";
  display: block;
  height: 1px;
  width: 160px;
  background: #FFFFFF;
  position: absolute;
  bottom: 0;
}
.section1 .section1__inner .section1__text-wrapper .section1__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0 50px 0;
  line-height: 24px;
  font-size: 16px;
}
.section1 .section1__inner img {
  display: block;
  margin: 0% auto;
}

/** Section 2
/**_________________________________________________________________*/
.section2 {
  background: #E6E3C4;
  padding: 4% 0 4% 0;
}
.section2 .section2__inner {
  border-top: 1px solid #998431;
  border-bottom: 1px solid #998431;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0 60px 0;
}
.section2 .section2__inner .section2__left {
  margin-right: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section2 .section2__inner .section2__left .section2__left__top {
  margin-bottom: 30px;
}
.section2 .section2__inner .section2__left .section2__left__top .section2__left__top__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.section2 .section2__inner .section2__left .section2__left__top .section2__left__top__title {
  margin: 30px 0 30px 0;
  position: relative;
  padding-bottom: 30px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
}
.section2 .section2__inner .section2__left .section2__left__top .section2__left__top__title::after {
  content: "";
  display: block;
  height: 1px;
  width: 160px;
  background: #282828;
  position: absolute;
  bottom: 0;
}
.section2 .section2__inner .section2__left .section2__left__top .section2__left__top__subtitle2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.section2 .section2__inner .section2__left_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}
.section2 .section2__inner .section2__left_main .section2__left_main__date-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section2 .section2__inner .section2__left_main .section2__left_main__date-wrapper .section2__left_main__date-item {
  height: 76px;
  width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  border-right: 1px solid #282828;
}
.section2 .section2__inner .section2__left_main .section2__left_main__date-wrapper .section2__left_main__date-item:not(:last-child) {
  border-bottom: 1px solid #282828;
}
.section2 .section2__inner .section2__left_main .section2__left_main__vino-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section2 .section2__inner .section2__left_main .section2__left_main__vino-wrapper .section2__left_main__vino-item {
  height: 76px;
  width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 3%;
}
.section2 .section2__inner .section2__left_main .section2__left_main__vino-wrapper .section2__left_main__vino-item:not(:last-child) {
  border-bottom: 1px solid #282828;
}
.section2 .section2__inner .section2__left_main .section2__left_main__vino-wrapper .section2__left_main__vino-item .vino-item__title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 18px;
}
.section2 .section2__inner .section2__left_main .section2__left_main__vino-wrapper .section2__left_main__vino-item .vino-item__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.section2 .section2__inner .section2__left_bottom {
  margin-top: 30px;
}
.section2 .section2__inner .section2__left_bottom .section2__left_bottom__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 10%;
}
.section2 .section2__inner .section2__left_bottom .section2__left_bottom__btn-yelow {
  width: 255px;
  height: 50px;
}
.section2 .section2__inner .section2__left_bottom .section2__left_bottom__btn-yelow:visited {
  color: #FFFFFF;
}
.section2 .section2__inner .section2__left_bottom .section2__left_bottom__btn-yelow:hover {
  color: #282828;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}
.section2 .section2__inner .section2__right .img-top {
  width: 100%;
}
.section2 .section2__inner .section2__right .section2__right__bottom {
  margin-top: 15%;
}
.section2 .section2__inner .section2__right .section2__right__bottom img {
  width: 46.8%;
}
.section2 .section2__inner .section2__right .section2__right__bottom img:first-child {
  margin-right: 30px;
}

/** Section 3
/**_________________________________________________________________*/
.section3 {
  background: #282828;
  height: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10% 0 5% 0;
}
.section3 .section3__inner {
  border: 3px solid #FFFFFF;
  position: relative;
  height: 380px;
  padding: 8% 24% 7% 24%;
}
.section3 .section3__inner .section3__img-left {
  position: absolute;
  left: -2%;
  top: -10%;
}
.section3 .section3__inner .section3__img-right {
  position: absolute;
  right: -5%;
  top: -9%;
}
.section3 .section3__inner .section3__title-form {
  position: absolute;
  right: 30%;
  top: -4%;
  width: 39%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
  background-color: #282828;
}
.section3 .section3__inner .section3__subtitle-form {
  margin: 0% auto;
  text-align: center;
  padding-top: 7%;
  font-size: 16px;
  line-height: 24px;
  position: relative;
}
.section3 .section3__inner .section3__subtitle-form::after {
  content: "";
  display: block;
  height: 1px;
  width: 120px;
  background: #FFFFFF;
  position: absolute;
  bottom: -42%;
  right: 41%;
}
.section3 .section3__inner .section3__form {
  margin-top: 13%;
}
.section3 .section3__inner .section3__form .section3__form__input-top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section3 .section3__inner .section3__form .section3__form__input-top-wrapper input {
  width: 45%;
  border-bottom: 1px solid #FFFFFF;
  height: 35px;
}
.section3 .section3__inner .section3__form .section3__form__input-top-wrapper input::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #FFFFFF;
}
.section3 .section3__inner .section3__form .section3__form__input-top-wrapper input::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #FFFFFF;
}
.section3 .section3__inner .section3__form .section3__form__input-top-wrapper input:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #FFFFFF;
}
.section3 .section3__inner .section3__form .section3__form__input-top-wrapper input::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #FFFFFF;
}
.section3 .section3__inner .section3__form .section3__form__input-top-wrapper input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #FFFFFF;
}
.section3 .section3__inner .section3__form select {
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  width: 100%;
  height: 38px;
  border-bottom: 1px solid #FFFFFF;
}
.section3 .section3__inner .section3__form .section3__form__btn {
  margin: 10% 0 0 0;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  height: 50px;
  font-size: 16px;
}
.section3 .section3__inner .section3__form .section3__form__btn:hover {
  background-color: #FFFFFF;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}
.section3 .section3__inner .section3__form .section3__form__btn:visited {
  color: #FFFFFF;
}
.section3 .section3__inner .section3__form .section3__form__btn:hover:visited {
  color: #282828;
}

/** Footer
/**_________________________________________________________________*/
footer {
  width: 100vw;
  background: #998431;
  padding: 50px 0 50px 0;
}

.footer__nav .footer__nav_nav-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #FFFFFF;
}
.footer__nav .footer__nav_nav-top .footer__nav_nav-top__link {
  width: 14.5%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.footer__nav .footer__nav_nav-top .footer__nav_nav-top__link:visited {
  color: #FFFFFF;
}
.footer__nav .footer__nav_nav-top .footer__nav_nav-top__link:hover {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  background: #6d5d1e;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}
.footer__nav .footer__nav_nav-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  text-transform: uppercase;
}
.footer__nav .footer__nav_nav-bottom .footer__nav_nav-bottom__item {
  width: 25%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
}
.footer__nav .footer__nav_nav-bottom .footer__nav_nav-bottom__item:not(:last-child) {
  border-right: 1px solid #FFFFFF;
}
.footer__nav .footer__nav_nav-bottom .footer__nav_nav-bottom__item:hover:not(:nth-child(3)) {
  color: #FFFFFF;
  background: #6d5d1e;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}
.footer__nav .footer__nav_nav-bottom .footer__nav_nav-bottom__item .nav-bottom__item__link {
  color: #FFFFFF;
}
.footer__nav .footer__nav_nav-bottom .footer__nav_nav-bottom__item .nav-bottom__item__icon {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__nav .footer__nav_nav-bottom .footer__nav_nav-bottom__item .nav-bottom__item__icon:hover {
  background: #6d5d1e;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}
.footer__nav .footer__nav_nav-bottom .footer__nav_nav-bottom__item .nav-bottom__item__icon:hover .nav-bottom__item_svg {
  fill: #282828;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}
.footer__nav .footer__nav_nav-bottom .footer__nav_nav-bottom__item .nav-bottom__item_svg {
  width: 100%;
  height: 30px;
  fill: #FFFFFF;
}

/* Center
___________________________________________*/
/* Fonts
___________________________________________*/
/* Animation
___________________________________________*/
.nav {
  -webkit-transform: translate(0, 150%);
          transform: translate(0, 150%);
  opacity: 1;
  -webkit-transition: 1s ease 0s;
  transition: 1s ease 0s;
}

.nav.active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.section1__title, .section1__subtitle, .section1-img, .section3__title-form {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  opacity: 0;
  -webkit-transition: 1s ease 0s;
  transition: 1s ease 0s;
}

.section1__title.active, .section1__subtitle.active, .section1-img.active, .section3__title-form.active, .section3__form__btn.active, .btn-wrapper__btn-yelow.active,
footer.active, .section2__left__top.active, .section2__left_main.active, .section2__left_bottom.active, .select.active, .section3__form__input-top-wrapper.active,
.img-top.active, .section2__right__bottom.active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.section3__subtitle-form p, .section3__form__input-top-wrapper, .select, .section2__left__top, .section2__left_main, .section2__left_bottom {
  -webkit-transform: translate(60%, 0);
          transform: translate(60%, 0);
  opacity: 0;
  -webkit-transition: 1s ease 0s;
  transition: 1s ease 0s;
}

.section3__subtitle-form.active p:nth-child(1) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.section3__subtitle-form.active p:nth-child(2) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 1s ease 0.2s;
  transition: all 1s ease 0.2s;
}
.section3__subtitle-form.active p:nth-child(3) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 1s ease 0.4s;
  transition: all 1s ease 0.4s;
}

.btn-wrapper__btn-yelow {
  opacity: 0;
  -webkit-transition: 1.5s ease 0.5s;
  transition: 1.5s ease 0.5s;
}

.section3__form__btn {
  -webkit-transform: translate(0, 250%);
          transform: translate(0, 250%);
  opacity: 0;
  -webkit-transition: 1s ease 0s;
  transition: 1s ease 0s;
}

footer {
  opacity: 0;
  -webkit-transition: 1.5s ease 0.1s;
  transition: 1.5s ease 0.1s;
}

.img-top, .section2__right__bottom {
  -webkit-transform: translate(-60%, 0);
          transform: translate(-60%, 0);
  opacity: 0;
  -webkit-transition: 1s ease 0s;
  transition: 1s ease 0s;
}

/* Center
___________________________________________*/
/* Fonts
___________________________________________*/
/* Animation
___________________________________________*/
/*! Media
/*!_________________________________________________________________*/
@media (max-width: 1500px) {
  .container {
    max-width: 1000px;
  }
  /*?section1*/
  .section1 {
    height: 725px;
  }
  /*?section2*/
  .section2 .section2__inner .section2__left {
    margin-right: 17px;
  }
  .section2 .section2__inner .section2__left_main .section2__left_main__vino-wrapper .section2__left_main__vino-item {
    width: 325px;
  }
  .section2 .section2__inner .section2__right .section2__right__bottom img:first-child {
    margin-right: 30px;
  }
  /*?section3*/
  .section3 .section3__inner .section3__subtitle-form::after {
    right: 38%;
  }
  /*?footer*/
  footer {
    padding: 40px 0 40px 0;
  }
}
@media (max-width: 1315px) {
  /*?section3*/
  .section3__img-left {
    display: none;
  }
  .section3__img-right {
    display: none;
  }
  .section3 {
    padding: 5% 0 5% 0;
  }
}
@media (max-width: 1300px) {
  .container {
    max-width: 800px;
  }
  /*?animation*/
  .section3__subtitle-form p, .section3__form__input-top-wrapper, .select {
    -webkit-transform: translate(0, 350%);
            transform: translate(0, 350%);
  }
  .section2__left_main {
    -webkit-transform: translate(-60%, 0);
            transform: translate(-60%, 0);
    opacity: 0;
    -webkit-transition: 1s ease 0s;
    transition: 1s ease 0s;
  }
  /*?section3*/
  .section3 {
    height: 480px;
  }
  /*?up-down*/
  .up-down-wrapper {
    width: 65px;
  }
  .up-down-wrapper__svg-wrapper {
    height: 75px;
  }
  /*?footer*/
  .footer__nav .footer__nav_nav-top .footer__nav_nav-top__link {
    font-size: 12px;
  }
  .footer__nav .footer__nav_nav-bottom .footer__nav_nav-bottom__item .nav-bottom__item__link {
    font-size: 13px;
  }
  /*?bg*/
  .header__bg {
    background: url("../img/header/media/bg_1300.png");
    background-repeat: no-repeat;
    height: 609px;
    padding: 0%;
    background-attachment: fixed;
  }
  /*?section1*/
  .section1 .section1__inner {
    padding: 5% 7%;
  }
  .section1 .section1__inner img {
    height: 135px;
  }
  /*?section2*/
  .section2__right {
    display: none;
  }
  .section2 .section2__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 7% 0;
  }
  .section2 .section2__inner .section2__left {
    margin: 0;
  }
  .section2 .section2__inner .section2__left .section2__left__top {
    text-align: center;
    margin: 0;
  }
  .section2 .section2__inner .section2__left .section2__left__top .section2__left__top__title::after {
    right: 30%;
  }
  .section2 .section2__inner .section2__left .section2__left__top .section2__left__top__subtitle2 {
    text-align: start;
  }
  .section2__left_main .section2__left_main__vino-wrapper .section2__left_main__vino-item:not(:last-child) {
    width: 97%;
  }
  .section2 .section2__inner .section2__left_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section2 .section2__inner .section2__left_bottom .section2__left_bottom__subtitle {
    padding-bottom: 5%;
  }
  /*?section3*/
  .section3 {
    padding: 5% 0 5% 0;
  }
  .section3 .section3__inner {
    padding: 4% 10% 7% 10%;
  }
  .section3 .section3__inner .section3__subtitle-form::after {
    right: 0;
    width: 100%;
  }
  .section3 .section3__inner .section3__title-form {
    width: 100%;
    position: static;
  }
  .section3 .section3__inner .section3__form .section3__form__btn {
    margin: 7% 0 0 0;
  }
  .section3 .section3__inner .section3__form {
    margin-top: 12%;
  }
  .section3 .section3__inner .section3__form .section3__form__input-top-wrapper input {
    height: 10%;
  }
  .section3 .section3__inner .section3__form select {
    height: 12%;
    margin-top: 5%;
  }
  .section3 .section3__inner .section3__subtitle-form {
    padding-top: 5%;
  }
}
@media (max-width: 1200px) {
  .section1 {
    height: 675px;
  }
}
/*!Tablet*/
@media (max-width: 990px) {
  .container {
    max-width: 700px;
  }
  /*?up-down*/
  .up-down-wrapper {
    width: 55px;
  }
  .up-down-wrapper__svg-wrapper {
    height: 65px;
  }
  /*?animation*/
  .section2__left__top, .section2__left_main, .section2__left_bottom {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
    opacity: 0;
    -webkit-transition: 1s ease 0s;
    transition: 1s ease 0s;
  }
  /*?nav*/
  .nav .nav-bottom .nav-bottom__link {
    height: 40px;
  }
  /*?bg*/
  .header__bg {
    background: url("../img/header/media/bg_990.png");
    background-repeat: no-repeat;
    height: 464px;
    padding: 0%;
    background-attachment: fixed;
  }
  /*?btn*/
  .header__btn-wrapper .btn-wrapper__btn-yelow {
    height: 35px;
  }
  .header__btn-wrapper .btn-wrapper__btn-yelow span {
    font-size: 15px;
  }
  /*?section1*/
  .section1 {
    height: 565px;
  }
  .section1 .section1__inner .section1__text-wrapper .section1__title {
    font-size: 25px;
  }
  .section1 .section1__inner .section1__text-wrapper .section1__subtitle {
    margin: 6% 0;
    line-height: 20px;
    font-size: 15px;
  }
  .section1 .section1__inner img {
    height: 100px;
  }
  /*?section2*/
  .section2 .section2__inner {
    padding: 5% 0;
  }
  .section2 .section2__inner .section2__left .section2__left__top .section2__left__top__title {
    margin: 5% 0;
    padding-bottom: 5%;
  }
  .section2 .section2__inner .section2__left_main {
    margin-top: 7%;
  }
  .section2 .section2__inner .section2__left_bottom {
    margin-top: 7%;
  }
  /*?section3*/
  .section3 {
    height: 450px;
  }
  .section3 .section3__inner .section3__title-form {
    font-size: 30px;
  }
  .section3 .section3__inner .section3__subtitle-form {
    font-size: 15px;
    line-height: 20px;
  }
  .section3 .section3__inner {
    padding: 5% 10%;
  }
  /*?footer*/
  footer {
    padding: 30px 0;
  }
  .footer__nav .footer__nav_nav-bottom .footer__nav_nav-bottom__item .nav-bottom__item__link {
    font-size: 11px;
  }
  .footer__nav .footer__nav_nav-top .footer__nav_nav-top__link {
    font-size: 11px;
  }
}
@media (max-width: 880px) {
  .up-down-wrapper {
    display: none;
  }
}
/*!Mobile*/
@media (max-width: 750px) {
  .container {
    max-width: 600px;
  }
  /*?Nav fixed*/
  .nav-fixed .nav-fixed__link {
    height: 35px;
    font-size: 14px;
  }
  /*?bg*/
  .header__bg {
    background-attachment: fixed;
  }
  /*?section3*/
  .section3 .section3__inner {
    padding: 5% 10% 0 10%;
  }
  /*?footer*/
  .footer__nav .footer__nav_nav-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__nav .footer__nav_nav-top .footer__nav_nav-top__link {
    width: 25%;
  }
  .footer__nav .footer__nav_nav-top .footer__nav_nav-top__link:nth-child(-n+4) {
    border-bottom: 1px solid #FFFFFF;
  }
  .footer__nav .footer__nav_nav-top .footer__nav_nav-top__link:nth-child(n+5):nth-child(-n+7) {
    width: 33.3%;
  }
  .footer__nav .footer__nav_nav-bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__nav .footer__nav_nav-bottom .footer__nav_nav-bottom__item {
    width: 49.8%;
  }
  .footer__nav .footer__nav_nav-bottom .footer__nav_nav-bottom__item:nth-child(-n+2) {
    border-bottom: 1px solid #FFFFFF;
  }
  .footer__nav .footer__nav_nav-bottom .footer__nav_nav-bottom__item:nth-child(2) {
    border-right: none;
  }
  .footer__nav .footer__nav_nav-top .footer__nav_nav-top__link, .footer__nav .footer__nav_nav-bottom .footer__nav_nav-bottom__item {
    height: 50px;
  }
  .footer__nav .footer__nav_nav-bottom .footer__nav_nav-bottom__item .nav-bottom__item__link {
    font-size: 14px;
  }
  .footer__nav .footer__nav_nav-top .footer__nav_nav-top__link {
    font-size: 14px;
  }
}
@media (max-width: 650px) {
  .container {
    max-width: 500px;
  }
  /*?bg*/
  .header__bg {
    background: url("../img/header/media/bg_650.png");
    height: 305px;
    padding: 0%;
    background-attachment: fixed;
  }
  /*?nav*/
  .nav .nav-bottom .nav-bottom__link {
    height: 35px;
  }
  /*?btn*/
  .header__btn-wrapper {
    -webkit-transform: translate(0, 292%);
            transform: translate(0, 292%);
  }
  .header__btn-wrapper .btn-wrapper__btn-yelow {
    width: 150px;
  }
  .header__btn-wrapper .btn-wrapper__btn-yelow span {
    text-transform: none;
    font-size: 11px;
  }
  /*?section1*/
  .section1 {
    height: 450px;
  }
  .section1 .section1__inner .section1__text-wrapper .section1__title {
    font-size: 22px;
  }
  .section1 .section1__inner .section1__text-wrapper .section1__title::after {
    width: 100%;
  }
  .section1 .section1__inner .section1__text-wrapper .section1__subtitle {
    font-size: 14px;
  }
  .section1 .section1__inner img {
    display: none;
  }
  /*?section2*/
  .section2 .section2__inner .section2__left .section2__left__top .section2__left__top__title {
    font-size: 30px;
  }
  .section2 .section2__inner .section2__left .section2__left__top .section2__left__top__subtitle2 {
    line-height: 20px;
  }
  .section2 .section2__inner .section2__left_bottom .section2__left_bottom__subtitle {
    line-height: 20px;
  }
  /*?section3*/
  .section3 .section3__inner .section3__subtitle-form {
    font-size: 14px;
  }
  .section3 .section3__inner .section3__subtitle-form::after {
    display: none;
  }
  .section3 .section3__inner .section3__form .section3__form__btn {
    height: 40px;
  }
  .section3 .section3__inner .section3__form .section3__form__btn {
    margin: 12% 0 0 0;
  }
  /*?footer*/
  .footer__nav .footer__nav_nav-top .footer__nav_nav-top__link, .footer__nav .footer__nav_nav-bottom .footer__nav_nav-bottom__item {
    height: 45px;
  }
}
@media (max-width: 550px) {
  .container {
    max-width: 300px;
  }
  /*?bg*/
  .header__bg {
    background: url("../img/header/media/bg_550.png");
    height: 258px;
    background-attachment: fixed;
  }
  /*?nav*/
  .nav .nav-top, .nav .nav-bottom {
    font-size: 12px;
  }
  .nav .nav-bottom .nav-bottom__link {
    height: 30px;
  }
  .nav-fixed .burger-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-fixed__link-wrapper {
    display: none;
  }
  .nav-fixed__link-wrapper.show {
    position: absolute;
    top: 100%;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #99862A;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-fixed__link-wrapper__link {
    border-top: 1px solid #282828;
    width: 100vw;
    font-size: 12px;
    height: 35px;
  }
  .nav-fixed__link-wrapper__link:last-child {
    border-bottom: 1px solid #282828;
  }
  /*?btn*/
  .header__btn-wrapper .btn-wrapper__btn-yelow:not(:last-child) {
    margin-right: 15px;
  }
  .header__btn-wrapper .btn-wrapper__btn-yelow {
    width: 140px;
  }
  .header__btn-wrapper .btn-wrapper__btn-yelow {
    height: 30px;
  }
  /*?section1*/
  .section1 {
    height: 355px;
  }
  .section1 .section1__inner {
    border: none;
    padding: 0;
  }
  .section1 .section1__inner .section1__text-wrapper .section1__title {
    font-size: 22px;
    padding-bottom: 0;
  }
  .section1 .section1__inner .section1__text-wrapper .section1__title::after {
    display: none;
  }
  .section1 .section1__inner .section1__text-wrapper .section1__subtitle {
    line-height: 17px;
  }
  .section1 .section1__inner img {
    display: none;
  }
  /*?section2*/
  .section2 .section2__inner {
    padding: 0;
    border: none;
  }
  .section2 .section2__inner .section2__left .section2__left__top .section2__left__top__subtitle {
    font-size: 14px;
  }
  .section2 .section2__inner .section2__left .section2__left__top .section2__left__top__title {
    font-size: 25px;
    margin: 3% 0;
  }
  .section2 .section2__inner .section2__left .section2__left__top .section2__left__top__subtitle2 {
    line-height: 17px;
    text-align: center;
  }
  .section2 .section2__inner .section2__left .section2__left_main {
    margin-top: 15px;
  }
  .section2 .section2__inner .section2__left .section2__left_main .section2__left_main__date-wrapper .section2__left_main__date-item {
    font-size: 12px;
    width: 35px;
    height: 50px;
  }
  .section2 .section2__inner .section2__left .section2__left_main .section2__left_bottom {
    margin-top: 15px;
  }
  .section2 .section2__inner .section2__left .section2__left_main .section2__left_bottom .section2__left_bottom__subtitle {
    line-height: 17px;
  }
  .section2 .section2__inner .section2__left .section2__left_main .section2__left_bottom .section2__left_bottom__btn-yelow {
    height: 40px;
  }
  .section2 .section2__inner .section2__left .section2__left_main .section2__left_bottom .section2__left_bottom__btn-yelow span {
    text-transform: none;
  }
  .section2 .section2__inner .section2__left .section2__left__top .section2__left__top__title::after {
    right: 23%;
  }
  .section2 .section2__inner .section2__left_bottom .section2__left_bottom__subtitle {
    text-align: center;
  }
  .section2 .section2__inner .section2__left_main .section2__left_main__vino-wrapper .section2__left_main__vino-item {
    height: 50px;
    width: 255px;
  }
  .section2 .section2__inner .section2__left_main .section2__left_main__vino-wrapper .section2__left_main__vino-item .vino-item__title {
    font-size: 15px;
  }
  .section2 .section2__inner .section2__left_main .section2__left_main__vino-wrapper .section2__left_main__vino-item .vino-item__subtitle {
    font-size: 12px;
  }
  .section2 .section2__inner .section2__left_bottom .section2__left_bottom__btn-yelow {
    height: 30px;
  }
  .section2 .section2__inner .section2__left_bottom .section2__left_bottom__btn-yelow span {
    text-transform: none;
  }
  /*?section3*/
  .section3 {
    height: 255px;
  }
  .section3 .section3__inner {
    padding: 0;
    border: none;
  }
  .section3 .section3__inner .section3__title-form {
    font-size: 25px;
  }
  .section3 .section3__inner .section3__subtitle-form {
    font-size: 11px;
  }
  .section3 .section3__inner .section3__form .section3__form__input-top-wrapper input::-webkit-input-placeholder {
    font-size: 11px;
  }
  .section3 .section3__inner .section3__form .section3__form__input-top-wrapper input::-moz-placeholder {
    font-size: 11px;
  }
  .section3 .section3__inner .section3__form .section3__form__input-top-wrapper input:-ms-input-placeholder {
    font-size: 11px;
  }
  .section3 .section3__inner .section3__form .section3__form__input-top-wrapper input::-ms-input-placeholder {
    font-size: 11px;
  }
  .section3 .section3__inner .section3__form .section3__form__input-top-wrapper input::placeholder {
    font-size: 11px;
  }
  .section3 .section3__inner .section3__form select {
    font-size: 11px;
  }
  .section3 .section3__inner {
    height: 325px;
  }
  .section3 .section3__inner .section3__subtitle-form {
    line-height: 17px;
    padding-top: 0;
  }
  .section3 .section3__inner .section3__form {
    margin-top: 5%;
  }
  .section3 .section3__inner .section3__form .section3__form__btn {
    margin: 10% 0 0 0;
  }
  .section3 .section3__inner .section3__form .section3__form__btn {
    height: 30px;
  }
  .section3 .section3__inner .section3__form .section3__form__btn span {
    text-transform: none;
  }
  .section3 .section3__inner {
    height: 255px;
  }
  /*?footer*/
  .footer__nav .footer__nav_nav-bottom .footer__nav_nav-bottom__item .nav-bottom__item__link {
    font-size: 10px;
  }
  .footer__nav .footer__nav_nav-top .footer__nav_nav-top__link {
    font-size: 10px;
  }
}