/* Center
___________________________________________*/
/* Fonts
___________________________________________*/
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600&display=swap");
*,
::before ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0%;
}

p {
  margin: 0% 0% 0% 0%;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  counter-reset: number;
}

a, a:hover, a:visited {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

/*! Container
/*!_________________________________________________________________*/
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0% auto;
}

/*! General classes
/*!_________________________________________________________________*/
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*! Customers
/*!_________________________________________________________________*/
.customers {
  margin: 50px 0 50px 0;
}
.customers .customers__title {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 42px;
  height: 150px;
  position: relative;
}
.customers .customers__title::after {
  content: "";
  width: 170px;
  border: solid 1px #EC7979;
  position: absolute;
  bottom: 0%;
}
.customers .customers__text {
  color: #86878B;
  margin: 40px 0 63px 0;
}
.customers .customers__block-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.customers .customers__block-wrapper .customers__block-wrapper__rectangle {
  background: #E2E2E2;
  border: solid 1px #E2E2E2;
  border-radius: 10px;
  position: relative;
  margin: 0 0 66px 0;
  margin-left: 30px;
  width: 370px;
  height: 180px;
  text-align: center;
  line-height: 21px;
}
.customers .customers__block-wrapper .customers__block-wrapper__rectangle::after {
  content: "";
  position: absolute;
  bottom: -20%;
  left: 15%;
  border: 15px solid transparent;
  border-top: 20px solid #E2E2E2;
}
.customers .customers__block-wrapper .customers__block-wrapper__rectangle p {
  color: #86878B;
}
.customers .customers__block-wrapper .customers__block-wrapper__rectangle p:first-child {
  margin-top: 38px;
}
.customers .customers__block-wrapper .customers__block-wrapper__rectangle p:last-child {
  margin-bottom: 37px;
}
.customers .customers__staf-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.customers .customers__staf-wrapper .customer__staf-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 30px 0 30px;
}
.customers .customers__staf-wrapper .customer__staf-item img {
  margin: 0 30px 0 0;
}
.customers .customers__staf-wrapper .customer__staf-item .staf-item__text-wrapper .customers__text-wrapper__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin: 0 0 15px 0;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.customers .customers__staf-wrapper .customer__staf-item .staf-item__text-wrapper .customers__text-wrapper__text {
  line-height: 21px;
}

/*! Img center
/*!_________________________________________________________________*/
.img-center {
  margin: 150px auto 150px auto;
  border: 1px solid aqua;
  border-radius: 50px;
  background: aqua;
  width: 300px;
  height: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: linear 0.5s;
  transition: linear 0.5s;
}
.img-center:hover {
  background: lightskyblue;
}
.img-center p:nth-child(-n+2) {
  margin-bottom: 5px;
}

.overlay {
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.951;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
}

.modal {
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  position: fixed;
  overflow: hidden;
  z-index: 10;
  left: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  display: none;
}
.modal .img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 90vh;
  max-width: 90vw;
}

/*! Counter
/*!_________________________________________________________________*/
.couner-wrapper {
  margin: 0 0 150px 0;
}
.couner-wrapper .couner-wrapper__item::before {
  counter-increment: number;
  content: counter(number) ". ";
}