@import "variables.scss";

*,
::before
::after
{box-sizing: border-box;}

h1,h2,h3,h4,h5,h6 {margin: 0%;}
p{margin: 0% 0% 10px 0%;}

body{margin: 0%; @include fFr400; font-size: 18px;}

a, a:hover, a:visited {text-decoration: none; cursor: pointer;}

.btn{display: flex; text-align: center; @include flexCenter}

/*! Container
/*!_________________________________________________________________*/

.container{width: 100%; max-width: 1170px; margin: 0% auto;}

/*! Tabs
/*!_________________________________________________________________*/

.tabs{margin: 50px 0px;
    .tabs__body{
        .tabs__line-item{width: 900px; height: 40px; display: flex;
            .tabs__tab{width: 200px; text-align: center; @include fFr400; font-size: 14px;
                display: flex; @include flexCenter
            }
            .tabs__tab_1{border-left: solid 1px #C6CBCD; border-top: solid 1px #C6CBCD; border-right: solid 1px #C6CBCD;
                border-top-right-radius: 10px; border-top-left-radius: 10px;}
            .tabs__tab_2, .tabs__tab_3, .tabs__tab_4{border-bottom: solid 1px #C6CBCD;}
        }// tabs__line-item
        .tabs__main{max-width: 1170px; display: flex; border-left: solid 1px #C6CBCD; border-bottom: solid 1px #C6CBCD; border-right: solid 1px #C6CBCD;
            .tabs__left{width: calc(1170px - 470px);
                .table__left-inner{margin-left: 100px;
                    .tabs__title{height: 120px; display: flex; align-items: center; margin-bottom: 27px;
                        span{@include fFoS700; font-size: 30px;}
                    }//tabs__title
                    .tabs__text{margin: 0 0 27px 0;
                        p{margin: 0px;}
                    }//tabs__text
                    .tabs__btn{width: 270px; height: 60px; border: 1px solid #EC7979; background: #EC7979; margin-bottom: 54px;
                        span{color: #FFFFFF; @include fFoS600; font-size: 18px;}
                    }
                }//table__left-inner
            }//tabs__left
            .tabs__right{width: 470px; height: 500px; text-align: right;
            }//tabs__right
        }// tabs__main
    }// tabs__body
}// tabs
