/* Fonts
____________________________________________*/

@mixin fFr400{font-family: 'Raleway-Regular', 'sans-serif'; font-weight: 400;}
@mixin fFoS600{font-family: 'OpenSans-SemiBold', 'sans-serif'; font-weight: 600;}
@mixin fFoS700{font-family: 'OpenSans-Bold', 'sans-serif'; font-weight: 700;}
@mixin fFoS400{font-family: 'OpenSans-Regular', 'sans-serif'; font-weight: 400;}

/* Center
___________________________________________*/

@mixin flexCenter {align-items: center; justify-content: center;}
@mixin blockCenter {margin: 0% auto;}