/* Center
___________________________________________*/

@mixin flexCenter {align-items: center; justify-content: center;}
@mixin blockCenter {margin: 0% auto;}

/* Fonts
___________________________________________*/

@mixin fRaleway400 {font-family: 'Raleway', sans-serif; font-weight: 400;}
@mixin fRaleway500 {font-family: 'Raleway', sans-serif; font-weight: 500;}

@mixin fOpenSans400 {font-family: 'Open Sans', sans-serif; font-weight: 400;}
@mixin fOpenSans600 {font-family: 'Open Sans', sans-serif; font-weight: 600;}
@mixin fOpenSans700 {font-family: 'Open Sans', sans-serif; font-weight: 700;}