@import "variables.scss";

*,
::before
::after
{box-sizing: border-box;}

h1,h2,h3,h4,h5,h6 {margin: 0%;}

p{margin: 0% 0% 0% 0%;}

body{margin: 0;}

a, a:hover, a:visited {text-decoration: none; cursor: pointer; color: #282828; @include tra5;}

input{border: none; outline: none; background-color: #282828;}
select{appearance: none; outline: none; border: none; background-color: #282828; color: #FFFFFF;}


/*! Btn */
.btn{display: flex; text-align: center; @include flexCenter;}
.btn-yelow{background: #99862A;
    span{text-transform: uppercase;}
}//btn-yelow

/*! Text Color */
.text-white{color: #FFFFFF;}
.text-black{color: #282828;}

/*! Container
/*!_________________________________________________________________*/

.container{width: 100%; max-width: 1200px; @include blockCenter;}

/*! Nav fixed
/*!_________________________________________________________________*/

.nav-fixed{position: fixed; z-index: 1000; background-color: #99862A; width: 100vw; @include flexCenter; display: none;
    &__link-wrapper{display: flex; width: 100%;  @include flexCenter;
        &__link{display: flex; @include flexCenter; width: 25%; height: 50px; @include fPlayfairDisplay700; font-size: 16px; text-transform: uppercase;
            &:hover{background-color: #8d7c36; color: #FFFFFF; @include tra5;}
            }
    }
}
.nav-fixed.flex{display: flex;} // Через js

/*! Burger
/*!_________________________________________________________________*/
.nav-fixed{
    .burger-wrapper {width: 100%; height: 100%; height: 35px; justify-content: center; display: none;}
}



/*! Up Down Buttons
/*!_________________________________________________________________*/

.up-down-wrapper{width: 100px; display: flex; @include flexCenter; flex-direction: column; background-color: #99862A; position: fixed; right: 1%; bottom: 50%; cursor: pointer;
    &__svg-wrapper{width: 100%; height: 75px; display: flex; @include flexCenter;
        &:hover{background-color: #8d7c36;}
        &:hover .up-down-wrapper__down_svg{fill: #282828; @include tra5;}
        &:hover .up-down-wrapper__up_svg{fill: #282828; @include tra5;}
    }
        &__up_svg, &__down_svg{width: 100%; height: 30px; fill: #FFFFFF;
            &:hover{fill: #282828; @include tra5;}
        }
        &__up_svg{transform: rotate(180deg);}
}

/*! Header background
/*!_________________________________________________________________*/

.header__bg{background: #282828 url('../img/header/bg.png') center; background-repeat: no-repeat; background-size: cover; width: 100vw; height: 900px; background-attachment: fixed; z-index: 1;
padding-top: 115px; display: flex; @include flexCenter;
}//header__bg

.section{width: 100vw;}

/** Nav
/**_________________________________________________________________*/
header{position: absolute; z-index: 1000; width: 100%;}
.nav{display: block; @include blockCenter;
    &-top{@include fMontserrat500; font-size: 13px; display: flex; justify-content: space-between; padding-top: 30px; padding-bottom: 20px;
    }//nav-top
    &-bottom{@include fMontserrat400; font-size: 14px; display: flex; border-top: 1px solid #FFFFFF; border-bottom: 1px solid #FFFFFF;
        &__link{width: 25%; height: 47px; display: flex; @include flexCenter;
        &:not(:last-child){border-right: 1px solid #FFFFFF;}
        &:hover{background: #FFFFFF; color: #282828; font-weight: 600; font-size: 16px; text-transform: uppercase; @include tra5;}
        &:visited{color: #FFFFFF;}
        &:hover:visited{color: #282828;}
        }
    }//nav-bottom
}//nav

/** Btn
/**_________________________________________________________________*/
.header__btn-wrapper{display: flex; justify-content: center; text-align: center; position: relative; transform: translate(0, 419%);
    .btn-wrapper__btn-yelow{width: 200px; height: 50px;
        &:not(:last-child){margin-right: 30px;}
        &:visited{color: #FFFFFF;}
        span{padding: 15px 30px; @include fMontserrat500; font-size: 16px;
            &:hover{color: #282828; @include fMontserrat500; @include tra5;}
        }
    }//btn-wrapper__btn-yelow
}//header__btn-wrapper

/** Section 1
/**_________________________________________________________________*/

.section1{background: #282828; height: 856px; display: flex; @include flexCenter;
    .section1__inner{border: 3px solid #FFFFFF; padding: 5% 10%;
        .section1__text-wrapper{
            .section1__title{@include fPlayfairDisplay700; font-size: 36px; display: flex; @include flexCenter; text-align: center;
                position: relative; padding-bottom: 40px;
            &::after{content: ''; display: block; height: 1px; width: 160px; background: #FFFFFF; position: absolute; bottom: 0;}
            }//section1__title
            .section1__subtitle{display: flex; @include flexCenter; margin: 40px 0 50px 0; line-height: 24px; font-size: 16px;}
        }//section1__text-wrapper
        img{display: block; @include blockCenter;}
    }//section1__inner
}//section1

/** Section 2
/**_________________________________________________________________*/

.section2{background: #E6E3C4; padding: 4% 0 4% 0;
    .section2__inner{border-top: 1px solid #998431; border-bottom: 1px solid #998431; display: flex; align-items: center; justify-content: space-between;
        padding: 60px 0 60px 0;
        .section2__left{margin-right: 125px; display: flex; flex-direction: column;
            .section2__left__top{margin-bottom: 30px;
                .section2__left__top__subtitle{@include fMontserrat400; font-size: 16px;}
                .section2__left__top__title{margin: 30px 0 30px 0; position: relative; padding-bottom: 30px; @include fPlayfairDisplay700; font-size: 36px;
                &::after{content: ""; display: block; height: 1px; width: 160px; background: #282828; position: absolute; bottom: 0;}
                }//section2__left__top__title
                .section2__left__top__subtitle2{@include fMontserrat400; font-size: 14px; line-height: 21px;}                
            }//section2__left__top
        }//section2__left
            .section2__left_main{display: flex; margin-top: 30px;
                .section2__left_main__date-wrapper{display: flex; flex-direction: column;
                    .section2__left_main__date-item{height: 76px; width: 75px; display: flex; @include flexCenter; @include fMontserrat400; font-size: 14px;
                        border-right: 1px solid #282828;
                    &:not(:last-child){border-bottom: 1px solid #282828;}
                    }//section2__left_main__date-item
                }//section2__left_main__date-wrapper
                .section2__left_main__vino-wrapper{display: flex; flex-direction: column;
                    .section2__left_main__vino-item{height: 76px; width: 370px; display: flex; justify-content: center; flex-direction: column; padding-left: 3%;
                    &:not(:last-child){border-bottom: 1px solid #282828;}
                        .vino-item__title{@include fPlayfairDisplay700; font-size: 18px;}
                        .vino-item__subtitle{@include fMontserrat400; font-size: 14px;}
                    }//section2__left_main__vino-item
                }//section2__left_main
            }//section2__left_main__vino-wrapper
            .section2__left_bottom{margin-top: 30px;
                .section2__left_bottom__subtitle{@include fMontserrat400; font-size: 14px; line-height: 21px; padding-bottom: 10%;}
                .section2__left_bottom__btn-yelow{width: 255px; height: 50px;
                &:visited{color: #FFFFFF;}
                &:hover{color: #282828; @include tra5;}
                }
            }//section2__left_bottom
        .section2__right{
            .img-top{width: 100%;}
            .section2__right__bottom{margin-top: 15%;
                img{width: 46.8%;}
                img:first-child{margin-right: 30px;}
            }//section2__right__bottom
        }//section2__right
    }//section2__inner
}//section2


/** Section 3
/**_________________________________________________________________*/

.section3{background: #282828; height: 580px; display: flex; @include flexCenter; padding: 10% 0 5% 0;
    .section3__inner{border: 3px solid #FFFFFF; position: relative; height: 380px; padding: 8% 24% 7% 24%;
        .section3__img-left{position: absolute; left: -2%; top: -10%;}
        .section3__img-right{position: absolute; right: -5%; top: -9%;} 
        .section3__title-form{position: absolute; right: 30%; top: -4%; width:  39%;; height: 50px; display: flex; @include flexCenter;
            @include fPlayfairDisplay700; font-size: 36px; background-color: #282828} 
        .section3__subtitle-form{@include blockCenter; text-align: center; padding-top: 7%; font-size: 16px; line-height: 24px; position: relative;
        &::after{content: ""; display: block; height: 1px; width: 120px; background: #FFFFFF; position: absolute; bottom: -42%; right: 41%;}
        }//section3__subtitle-form
        .section3__form{margin-top: 13%;
            .section3__form__input-top-wrapper{display: flex; @include flexCenter; justify-content: space-between;
                input{width: 45%; border-bottom: 1px solid #FFFFFF; height: 35px;
                // &:not(:last-child){margin-right: 30px;}
                &::placeholder{@include fMontserrat500; font-size: 13px; color: #FFFFFF;}
                }//input
            }//section3__form__input-top-wrapper
            select{margin-top: 40px; @include fMontserrat500; font-size: 13px; width: 100%; height: 38px; border-bottom: 1px solid #FFFFFF;}
            .section3__form__btn{margin: 10% 0 0 0; text-transform: uppercase; border: 1px solid #FFFFFF; height: 50px; font-size: 16px;
            &:hover{background-color: #FFFFFF; @include tra5;}
            &:visited{color: #FFFFFF;}
            &:hover:visited{color: #282828;}
            }//section3__form__btn
        }//section3__form
    }//section3__inner
}//section3

/** Footer
/**_________________________________________________________________*/

footer{width: 100vw; background: #998431; padding: 50px 0 50px 0;}
.footer__nav{
    .footer__nav_nav-top{display: flex; border-top: 1px solid #FFFFFF;
        .footer__nav_nav-top__link{width: 14.5%; height: 60px; display: flex; @include flexCenter; @include fMontserrat400; font-size: 14px;
        &:visited{color: #FFFFFF;}
        &:hover{color: #FFFFFF; font-weight: 600; font-size: 16px; text-transform: uppercase; background: #6d5d1e; @include tra5;
        }
        }//footer__nav_nav-top__link
    }//footer__nav_nav-top
    .footer__nav_nav-bottom{display: flex; border-top: 1px solid #FFFFFF; border-bottom: 1px solid #FFFFFF; text-transform: uppercase;
        .footer__nav_nav-bottom__item{width: 25%; height: 60px; display: flex; @include flexCenter; @include fMontserrat600; font-size: 14px;
            &:not(:last-child){border-right: 1px solid #FFFFFF;}
            &:hover:not(:nth-child(3)){color: #FFFFFF; background: #6d5d1e; @include tra5;
            }
            .nav-bottom__item__link{color: #FFFFFF;}
        
        
            .nav-bottom__item__icon{width: 100%; height: 100%; display: flex; @include flexCenter;
            &:hover{background: #6d5d1e; @include tra5;}
            &:hover .nav-bottom__item_svg{fill: #282828; @include tra5;}
            }//nav-bottom__item__icon
            .nav-bottom__item_svg{width: 100%; height: 30px; fill: #FFFFFF;
                
            }
        }//footer__nav_nav-bottom__item
    }//footer__nav_nav-bottom
}//footer__nav