/* Center
___________________________________________*/
/* Fonts
___________________________________________*/
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600&display=swap");
*,
::before ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0%;
}

p {
  margin: 0% 0% 0% 0%;
}

body {
  margin: 0;
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

a, a:hover, a:visited {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*! Container
/*!_________________________________________________________________*/
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0% auto;
}

/*! Nav
/*!_________________________________________________________________*/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 32px 0 32px 0;
}
.nav .nav__logo {
  width: 105px;
  height: 25px;
  margin-right: 177px;
}
.nav .nav__link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0% auto;
  margin-right: 157px;
}
.nav .nav__link-wrapper .link-wrapper__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
}
.nav .nav__link-wrapper .link-wrapper__link .link__text {
  text-transform: uppercase;
}
.nav .nav__link-wrapper .link-wrapper__link .link__arrow {
  margin-left: 8px;
  margin-right: 40px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.nav .nav__link-wrapper .link-wrapper__link #cont {
  width: 80px;
}
.nav .nav__fav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0% auto;
}
.nav .nav__fav-wrapper .fav-wrapper__fav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}
.nav .nav__fav-wrapper .fav-wrapper__fav .fav_svg {
  width: 15px;
  height: 15px;
}

/*! Block1
/*!_________________________________________________________________*/
.block1 .block1__top-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.block1 .block1__top-block .block1__top-block__left-wrapper {
  margin: 219px 0 73px 0;
}
.block1 .block1__top-block .block1__top-block__left-wrapper .block1__top-block__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5px;
}
.block1 .block1__top-block .block1__top-block__left-wrapper .block1__top-block__text-wrapper .block1__top-block__left-wrapper__text {
  color: #C72535;
  text-transform: uppercase;
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
}
.block1 .block1__top-block .block1__top-block__left-wrapper .block1__top-block__text-wrapper .block1__top-block__left-wrapper__title {
  line-height: 73px;
  font-size: 61px;
  margin: 3px 0 30px 0;
}
.block1 .block1__top-block .block1__top-block__left-wrapper .block1__top-block__text-wrapper .block1__top-block__left-wrapper__title .back-blue {
  color: #247CC0;
  background-color: rgba(36, 124, 192, 0.1);
}
.block1 .block1__top-block .block1__top-block__left-wrapper .block1__top-block__text-wrapper .block1__top-block__left-wrapper__subtitle {
  line-height: 27px;
  margin-bottom: 35px;
}
.block1 .block1__top-block .block1__top-block__left-wrapper .block1__top-block__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.block1 .block1__top-block .block1__top-block__left-wrapper .block1__top-block__btn-wrapper .btn-wrapper__btn-shop {
  margin-left: 5px;
  width: 150px;
  height: 60px;
  background-color: #247CC0;
  border: solid 1px #247CC0;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-transform: uppercase;
  margin-right: 30px;
}
.block1 .block1__top-block .block1__top-block__left-wrapper .block1__top-block__btn-wrapper .btn-wrapper__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  line-height: 27px;
  margin-right: 20px;
  color: #030D15;
}
.block1 .block1__top-block .block1__top-block__left-wrapper .block1__top-block__btn-wrapper .btn-wrapper__disc {
  text-decoration: line-through;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  color: #030D15;
  opacity: 0.5;
}
.block1 .block1__top-block .top-block_right-wrapper img {
  position: absolute;
  right: 5%;
  margin-top: 55px;
}
.block1 .block1__bottom-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.block1 .block1__bottom-block img {
  width: 163px;
  height: 85px;
  margin: 75px 85px;
}