@import "variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600&display=swap');

*,
::before
::after
{box-sizing: border-box;}

h1,h2,h3,h4,h5,h6 {margin: 0%;}
p{margin: 0% 0% 0% 0%;}

body{margin: 0; @include fontHind; font-weight: 400; font-size: 20px;}

a, a:hover, a:visited {text-decoration: none; cursor: pointer; color: black;}

.btn{display: flex; text-align: center; @include flexCenter;}

/*price*/
.price{font-weight: 500; font-size: 16px; line-height: 27px; color: #030D15;}
.disc{font-weight: 300; font-size: 14px; color: #030D15; opacity: .5; text-decoration: line-through;
    #slash{text-decoration: none !important; margin: 0 3px 0 3px;}
}//disc

/*! Container
/*!_________________________________________________________________*/

.container{width: 100%; max-width: 1140px; @include blockCenter}

/*! Nav
/*!_________________________________________________________________*/

.nav{display: flex; @include flexCenter; padding: 32px 0 32px 0;
    .nav__logo{width: 105px; height: 25px; margin-right: 177px;}
    .nav__link-wrapper{display: flex; @include blockCenter; margin-right: 157px;
        .link-wrapper__link{display: flex; font-weight: 500; font-size: 14px; line-height: 23px;
            .link__text{text-transform: uppercase;}
            .link__arrow{margin-left: 8px; margin-right: 40px; transform: rotate(90deg);}
            #cont{width: 80px;}
        }//link-wrapper__lin
    }//nav__link-wrapper
    .nav__fav-wrapper{display: flex; @include blockCenter;
        .fav-wrapper__fav{display: flex; justify-content: center; align-items: center; margin-right: 40px;
            .fav_svg{width: 15px; height: 15px;}
        }//fav-wrapper__fav
    }//nav__fav-wrapper
}//nav

/*! Block1
/*!_________________________________________________________________*/

.block1{
    .block1__top-block{display: flex;
        .block1__top-block__left-wrapper{margin: 219px 0 73px 0;
            .block1__top-block__text-wrapper{display: flex; flex-direction: column; margin-left: 5px;
                .block1__top-block__left-wrapper__text{color: #C72535; text-transform: uppercase; line-height: 26px; font-size: 16px; font-weight: 400;}
                .block1__top-block__left-wrapper__title{line-height: 73px; font-size: 61px; margin: 3px 0 30px 0;
                    .back-blue{color: #247CC0; background-color: rgb(36, 124, 192, .1);}
                }//title
                .block1__top-block__left-wrapper__subtitle{line-height: 27px; margin-bottom: 35px;}
            }//block1__top-block__text-wrapper
            .block1__top-block__btn-wrapper{display: flex;
                .btn-wrapper__btn-shop{margin-left: 5px; width: 150px; height: 60px; background-color: #247CC0; border: solid 1px #247CC0; color: #FFFFFF;
                    font-size: 16px; font-weight: 600; line-height: 26px; text-transform: uppercase; margin-right: 30px;}
                .btn-wrapper__price{display: flex; @include flexCenter; font-weight: 500; line-height: 27px; margin-right: 20px; color: #030D15;}
                .btn-wrapper__disc{text-decoration: line-through; display: flex; @include flexCenter; font-size: 16px; font-weight: 300; line-height: 27px;
                    color: #030D15; opacity: .5;}
            }//block1__top-block__btn-wrapper
        }//block1__top-block__left-wrapper
        .top-block_right-wrapper{
            img{position: absolute; right: 5%; margin-top: 55px;}
        }//top-block_right-wrapper
    }//block1__top-block
    .block1__bottom-block{display: flex; flex-wrap: nowrap; margin-bottom: 130px;
        img{width: 163px; height: 85px; padding: 55px 85px 75px 85px;}
    }//block1__bottom-block
}//block1

/*! Block2
/*!_________________________________________________________________*/

.block-side_fav-wrapper{width: 38px; height: 38px; display: flex; @include flexCenter; border: solid 1.5px lightgray; border-radius: 50%; background-color: #FFFFFF;}
.block-side_img{width: 260px; height: 250px; margin-right: 30px;}
.block-side_fav-wrapper{position: relative; left: 41%; top: -7%;}

.block_side__text-wrapper{width: 256px; margin-right: 113px;}
.text-wrapper__title{font-weight: 600; font-size: 25px; line-height: 40px; margin-bottom: 10px;}
.text-wrapper__text{font-size: 14px; line-height: 21px; margin-bottom: 20px;}
.text-wrapper__price-wrapper{display: flex;}
.text-wrapper__star-wrapper{display: flex;
    .fav-wrapper__fav{width: 13px; height: 12px;
        .fav_star{width: 100%; height: 100%; fill: #C72535;}
        .fav_star5{fill: #e4e8eb;}
    }//fav
}//star-wrapper

.block2{display: flex;
    .block-side{display: flex;
        .block-side_fav-wrapper{
            .fav_svg{height: 20px;}
        }//fav-wrapper
    }//block-side
}//block2

/*! Block3
/*!_________________________________________________________________*/

.block3{margin: 160px 0 160px 0;}