/* Center
___________________________________________*/

@mixin flexCenter {align-items: center; justify-content: center;}
@mixin blockCenter {margin: 0% auto;}

/* Fonts
___________________________________________*/

@mixin fontHind {font-family: 'Hind Siliguri', sans-serif;
}